<div id="tablero" class="tablero">
	<p><%=@place%> - <%=@date%> </p>
	<ul class="menu" role="menu" aria-labelledby="dropdownMenu1">
		<% @free_hours.each do |h| %>
		  <li role="presentation" class="inner-addon right-addon">
	      <a role="menuitem" tabindex="-1" href="#"><%=h%>:00hs</a>
	      <a class="btn flag">Reservá <i class="glyphicon glyphicon-flag"></i></a>
	    </li>
		<% end %>
	</ul>

</div>





