<div class="container formimg">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <h3>Hace tu reserva</h3>
    </div>
  </div>
  <%= form_for @appointment, :url => { :action => "search" }  do |f|  %>
    <input class="span2" name="hour" type="hidden" />

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="canchas" class="inner-addon right-addon">
          <i class="icon-cancha"></i>
          <input class="typeahead" type="text" name="place" placeholder="Elegí tu cancha">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <input type="text" id="datepicker" placeholder="Fecha" name="date" class="form-control">
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="hour" data-toggle="dropdown">
                  Hora
                  <span class="caret"></span>
              </button>
              <ul id="time-menu" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">07:00 AM</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">08:00 AM</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">09:00 AM</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10:00 AM</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">11:00 AM</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">12:00 AM</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">01:00 PM</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">02:00 PM</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">03:00 PM</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">04:00 PM</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">05:00 PM</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">06:00 PM</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">07:00 PM</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">08:00 PM</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">09:00 PM</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10:00 PM</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">11:00 PM</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">12:00 PM</a></li>
              </ul>
          </div>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <button id="search-btn" type="submit" class="btn btn-success form-control pull-right">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </div>
    </div>
  <% end %>
</div>

<%= javascript_include_tag "appointment.js" %>